<div id="whitebackground" class="responsivewhite-bckgrnd">
  <div class="firstname">
    <div> 
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>First name</mat-label>
        <input type="text" matInput placeholder="First name">
      </mat-form-field>
    </div>

    <div class="lastname">
      <div>
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
          <mat-label>Last name</mat-label>
          <input type="text" matInput placeholder="Last name">
        </mat-form-field>
      </div>

      <div class="email">
        <div>
          <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Email</mat-label>
            <input type="text" matInput placeholder="Email">
          </mat-form-field>
        </div>    
    
      <div class="password">
        <div>
          <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Password</mat-label>
            <input type="text" matInput placeholder="Password">
          </mat-form-field>
        </div>  


        <div class="confpassword">
          <div>
            <mat-form-field appearance="outline" [hideRequiredMarker]="true">
              <mat-label>Confirm password</mat-label>
              <input type="text" matInput placeholder="Conf password">
            </mat-form-field>
          </div>

    <div><button onclick="window.location.href = 'https://www.google.com/';" class="btn" mat-raised-button color="primary">Sign Up</button>
    </div>
    <span class="or">or</span>
    <div><button onclick="window.location.href = 'https://www.google.com/';" class="bttn" mat-raised-button color="primary">Sign In</button>
    </div>
  </div>



