<div id="whitebackground"></div>
<input [(ngModel)]="name" type="text" />
<h3>Hello, {{name}}!</h3>

<!-- The <button> element should be used for any interaction that performs an action on the current page.
   The <a> element should be used for any interaction that navigates to another view -->
<div class="home-button">
  <a>
  <button mat-fab color="primary" aria-label="home icon button">
    <mat-icon>home</mat-icon>
  </button>
</a>
</div>

<div class="example-button-container">
  <button mat-fab color="primary" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</div>

